.home {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}

.headerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 80%;
    margin: 0 auto;
}

.headerLeft {
    flex: 1;
    padding: 1rem 0;
}

.headerLeft h1 {
    color: var(--orange);
}

.headerLeft h3 {
    margin-bottom: 1rem;
    border-bottom: 2px solid var(--orange);
}

.headerLeft p {
    margin-bottom: 1rem;
}

.headerLeft a {
    margin: 2rem 1rem;
}


.headerRight {
    flex: 1;
    padding: 1rem 0;
}

.imgWrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profileImg {
    max-width: 50%;
    border: 8px solid var(--orange);
    border-radius: 0 2rem 0 2rem;
}

@media (max-width: 1320px){
    .home {
        height: 100%;
    }

    .profileImg {
        max-width: 60%;
    }
}

@media (max-width: 960px){
    .home {
        height: 100%;
    }

    .header {
        display: block;
    }
}

@media (max-width: 768px){
    
    .profileImg {
        max-width: 70%;
    }

}
