.resume {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
}

.resumeContent {
    width: 80%;
    margin: 0 auto;
}

.contentTitles {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.educationTitle, .workTitle {
    flex: 1;
    text-align: center;
    padding: .5rem;
    border: 3px solid var(--orange);
    border-bottom: none;
    background-color: var(--opacity-light-bg);
}

.educationTitle {
    border-radius: .5rem 0 0 .5rem;
}

.workTitle {
    border-radius: 0 .5rem .5rem 0;
}

.contentBody {
    width: 100%;
    border-right: 3px solid var(--orange);
    border-left: 3px solid var(--orange);
    border-radius: .5rem;
    padding: 0 1rem;
    background-color: var(--opacity-light-bg);
}

.educationItem {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 1rem;
    align-items: flex-start;
    text-align: start;
    border-bottom: 3px solid var(--orange);
    padding: .8rem 0;
}


.workItem {
    padding: .8rem 0;
    border-bottom: 3px solid var(--orange);
}

.firstRow, .secondRow {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 1rem;
    align-items: flex-start;
    text-align: start;
}

.flexedDiv {
    display: flex;
    align-items: center;
    width: 100%;
}

.listPoint {
    width: 1.5rem;
    height: 1.5rem;
    color: var(--orange);
    margin-right: 1rem;
}

.educationItemDesc, .workItemTitle{
    color: var(--orange);
    font-weight: 500;
}


@media (max-width: 1320px){
    .resume {
        height: 100%;
    }
}

@media (max-width: 320px){
    .resume h3 {
        font-size: 1rem;
    }

    .resume p {
        font-size: .8rem;
        width: 80%;
    }
}
