.form {
    padding: 1rem;
    border: 3px solid ;
    border-radius: .5rem;
    width: 100%;
}

.inputGroup {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    width: 100%;
}

.formLabel{
    margin-bottom: .5rem;
}

.formInput{
    padding: .8rem;
    border-radius: .2rem;
}

.btnDiv {
    padding: 2rem 1rem;
}
